<!DOCTYPE html>
<html xmlns:th="http://thymeLeaf.org">
<head>
<meta charset="ISO-8859-1" />
<title th:text="${hola}">Insert title here</title>
<meta charset="UTF-8" />

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/style.css}"></link>
</head>
<body>

	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<a class="navbar-brand" href="#">Spring Boot</a>
		<button class="navbar-toggler" type="button">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
				<li class="nav-item"><a class="nav-link" href="#about">About</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<div class="jumbotron">
			<h1 th:text="${hola}"></h1>
			<br>
			<center><img th:src="@{/imagenes/Bienvenido_imagen.png}"></center>
		</div>
	</div>
</body>
</html>